html{
    user-select: none;
}

#root{
    background-color: rgb(34, 33, 33);
}

#colorInput{
    width: 25vh;
    height: 7.5vh;

    min-width: 82.5px;
    min-height: 25px;

    border: none;
    border-radius: 2vh;

    background-color: rgb(63, 63, 63);

    text-align: center;
}   

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 1.25vh;
}